body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Monsterrat", sans-serif;
  background-color: #298ea3;
}

#bgImg {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

#loginImg {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

#welcome-login {
  font-size: 8vh;
  font-weight: bold;
}

#welcome-signup {
  font-size: 6vh;
  font-weight: bold;
}

.user-login {
  margin-top: 1vh;
  font-size: 2.5vh;
  display: block;
}

.login-a {
  color: #298ea3;
}

#courier-placement {
  margin: 10vh auto 0 auto;
}

#login-placement {
  float: right;
  margin: 13vh 20vh 0 0;
}

#signup-placement {
  margin: 13vh 0 0 20vh;
}

.login-card {
  text-align: center;
  position: relative;
  z-index: 1;
  width: 35vw;
  height: 50vh;
  border-radius: 20px;
}

.login-logo {
  display: block;
  width: 10vw;
  height: auto;
  margin: 0 auto 2vh auto;
}

.login-txtField {
  margin-top: 3vh;
  padding: 0 1vw;
  width: 25vw;
  height: 5vh;
  font-size: 2.5vh;
  border-radius: 5px;
  border: 2px solid #ccc;
}

.login-btn {
  color: white;
  margin-top: 5vh;
  width: 27vw;
  height: 5vh;
  border: none;
  border-radius: 5px;
  background-color: #298ea3;
  font-size: 2.5vh;
  cursor: pointer;
}
